<form (ngSubmit)="submitContractRequest()">
  <md-grid-list cols="5" rowHeight="100%">
    <md-grid-tile>
      <button md-mini-fab class="mat-primary" (click)="router.navigateByUrl('/')">
        <md-icon>keyboard_arrow_left</md-icon>
      </button>
    </md-grid-tile>

    <md-grid-tile colspan="3">
      <div class="row">
        <div class="col-sm-1 col-md-3">
          <md-icon id="icon">assignment</md-icon>
        </div>
        <div class="col-sm-11 col-md-9">
          <h3>Subscribe to an insurance contract</h3>

          <table class="table table-bordered">
            <thead>
              <tr>
                <td>Contract ID</td>
                <td>Teeth</td>
                <td>Glasses</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0x58ec43apo89ddab8abdfd209fb51c4cf13d26b28</td>
                <td>50%</td>
                <td>80%</td>
              </tr>
              <tr>
                <td>0xa85bf3af856dcc5d7b86d209629330cf13dafc23</td>
                <td>75%</td>
                <td>100%</td>
              </tr>
            </tbody>
          </table>

          <md-input-container>
            <input mdInput type="text" name="contract" placeholder="Contract identifier" value="0x58ec43apo89ddab8abdfd209fb51c4cf13d26b28" />
          </md-input-container>
          <md-input-container>
            <input mdInput type="text" name="uid1" placeholder="Unique identifier" [(ngModel)]="formMetadata.uid1" />
          </md-input-container>
        </div>
      </div>
    </md-grid-tile>

    <md-grid-tile>
      <button md-mini-fab class="mat-primary" type="submit">
        <md-icon>keyboard_arrow_right</md-icon>
      </button>
    </md-grid-tile>
  </md-grid-list>
</form>
